<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  layout:decorate="~{Fragments/Header}"
	
	>				
<head>
<meta charset="utf-8" />
<title>Messages</title>

</head>
<body>

	<div layout:fragment="content" class="container">
		<button type="button" class="btn btn-primary btn-lg btn-block">Messages Reçus</button>
			<button type="button" class="btn btn-primary btn-lg btn-block"> <a href=" "></a>  Messages Envoyés <br></button>
		</div>
		
	<section layout:fragment="content"></section>

</body>
</html>